body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
}

button:hover {
    background-color: #555;
}

#movieContainer {
    margin-top: 20px;
}

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
}

.movie-details {
    text-align: left;
}

.movie-title {
    font-size: 20px;
    color: #333;
}

.movie-year {
    color: #777;
}

.movie-plot {
    margin-top: 10px;
    color: #555;
}